<!DOCTYPE html>
{% load static %}﻿
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>购了么运营管理</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">管理界面</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">数据报表</a></li>
            <li><a href="#">设置</a></li>
            <li><a href="#">公司机密</a></li>
            <li><a href="#">帮助</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="搜索...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">报名管理</a></li>
            <li><a href="">-添加报名</a></li>
            <li><a href="">-报名审核</a></li>
            <li><a href="">-活动排期</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">商品管理</a></li>
            <li><a href="">-商品列表</a></li>
            <li><a href="">-佣金列表</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">订单管理</a></li>
            <li><a href="">-订单列表</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header">添加商品</h2>


          <!-- <h2 class="sub-header">Section title</h2> -->
          <div class="table-responsive">
		  
		  <fieldset class="module aligned">
		  <form role="form">
			<div id="content-main">
                <form enctype="multipart/form-data" action="" method="post" id="signupitem_form"><input type='hidden' name='csrfmiddlewaretoken' value='eC5JHund84Xs5skzvUlqhjx3p95V9L7Q' />
                <div>
                  <fieldset class="module aligned ">
                    <div class="form-row field-activity">        
                        <div>
                          <label for="id_activity">选择活动:</label>
                          <select id="id_activity" name="activity">
                            <option value="" selected="selected">---------</option>
                            <option value="0">限时特卖</option>
                            <option value="1">1元抢购</option>
                            <option value="2">新人专享</option>
                            <option value="3">9块9</option>
                          </select>
                        </div>
                    </div>

                    <div class="form-row field-link">
                        <div>
                            <label for="id_link" class="required">链接:</label>
                            <input type="text" id="id_link" maxlength="200" size="100" name="link" type="text" />
                            <input type="submit" value="获取返利链接" class="default" name="save" />
                        </div>
                    </div>
                    
                    <div class="form-row field-name">
                        <div>
                            <label for="id_name" class="required">标题:</label>
                            <input type="text" id="id_name" maxlength="200" size="100" name="name" type="text" />
                        </div>
                    </div>

                    <div class="form-row field-price">
                        <div>
                            <label for="id_price" class="required">普通价:</label>
                                <input id="id_price" name="price" type="text" />
                        </div>
                    </div>

                    <div class="form-row field-price_activity">
                         <div>
                             <label for="id_price_activity">活动价:</label>
                             <input id="id_price_activity" name="price_activity" type="text" />
                         </div>
                     </div>
                    
                     <div class="form-row field-commision">
                         <div>
                            <label for="id_commision">佣金:</label>
                            <input id="id_commision" name="commision" type="text" />
                         </div>
                     </div>
                    
                     <div class="form-row field-settlement">
                        <div>
                            <label for="id_settlement">结算方式:</label>
                            <select id="id_settlement" name="settlement">
                                <option value="" selected="selected">---------</option>
                                <option value="0">平台扣款</option>
                                <option value="1">淘宝扣款</option>
                            </select>
                        </div>
                     </div>
                    
                     <div class="form-row field-limitations">
                        <div>
                            <label for="id_limitations">每人限购:</label>
                            <input class="vIntegerField" id="id_limitations" name="limitations" type="text" />
                        </div>
                     </div>
                    
                     <div class="form-row field-classification">
                        <div>
                            <label for="id_classification">类目:</label>
                            <select id="id_classification" name="classification">
                                <option value="" selected="selected">---------</option>
                                <option value="0">女装</option>
                                <option value="1">男装</option>
                                <option value="2">母婴</option>
                                <option value="3">内衣</option>
                                <option value="4">食品</option>
                                <option value="5">美妆</option>
                                <option value="6">箱包</option>
                                <option value="7">鞋帽</option>
                                <option value="8">珠宝</option>
                                <option value="9">配饰</option>
                                <option value="10">文体</option>
                                <option value="11">家电</option>
                                <option value="12">居家百货</option>
                                <option value="13">家装家纺</option>
                                <option value="14">手机数码</option>
                                <option value="15">户外运动</option>
                            </select>
                        </div>
                     </div>
                 </fieldset>           
               <div class="submit-row">
				 <input type="submit" value="保存" class="default" name="_save" />
				 <input type="submit" value="保存并增加另一个" name="_addanother" />
				 <input type="submit" value="保存并继续编辑" name="_continue" />
		   	   </div>
		   </form>
	  	</div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
